PROBLEM SET 2

In [21]:
#QUESTION 1
a = 0 
def b():
  global a
  a = c(a)
    
def c(a):
 return a + 2

In [22]:
b()
b()
b()
a

6

In [23]:
#EXPLANATION
#b(): This command invokes the function c(a), which is c(0) and where a has the value 2.
#b(): The result of this step demonstrates that c(a), which is c(2), alters the value of a to a=c(2)â€”>2+2=4, a=4.
#b(): This step calls the function c(a), which is c(4), and changes the value of a to 6 (i.e., a=c(4) --> 4+2, a=6).

#a() In this step , the value of a, which is equal to 6, is printed..

In [34]:
#QUESTION 2
def file_length(filename):
    try:
        file_handle = open(filename)
        file_contents = file_handle.read()
        file_handle.close()
        print(len(file_contents))
    except:
        print("File "+str(filename)+" not found")

In [35]:
file_length('midterm.txt')

122

In [36]:
file_length('idterm.txt')

File idterm.txt not found

In [7]:
#QUESTION 3
class Marsupial:
    l=[]    
    def put_in_pouch(self,x):
        self.l.append(x)
    def pouch_contents(self):
        return self.l

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
#A
class Kangaroo(Marsupial):
    cx=0
    cy=0
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def put_in_pouch(self,x):
        self.l.append(x)
    def jump(self,dx,dy):
        self.cx+=dx
        self.cy+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates (" + str(self.cx) + "," + str(self.cy) + ")"

In [10]:
#B
k = Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [11]:
#C
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [12]:
#QUESTION 4
def collatz(x):
    if x==1:
        return 1
    else:
        print(x)
        if x%2==0:
            return collatz(x//2)
        else: 
            return collatz(3*x+1)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2

1

In [16]:
#QUESTION 5
def binary(a):         
    
    print(f"Binary  of {a} is")
    
    if(a >= 0):                            
        print(format(a ,"b"))          
    
    else:
        return 'number provides is a negative number or 0'                 
    

binary(0)
binary(1)
binary(3)
binary(9)

Binary  of 0 is
0
Binary  of 1 is
1
Binary  of 3 is
11
Binary  of 9 is
1001

In [17]:
#QUESTION 6
#from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for val in store:
                for tagno in ('h1','h2','h3','h4','h5','h6'):
                    if(val==tagno):
                        ind=store.index(tagno)
                        print(store[ind+1],end="\n\t")

In [20]:
infile = open("C:/Users/devik/w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

In [3]:
#QUESTION 7
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def init(self):
        super().init()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
    except:
        return

    parser = LinkParser()
    parser.feed(response.read().decode())

    for link in parser.links:
        absolute_url = urljoin(url, link)
        webdir(absolute_url, depth - 1, indent + 1)

In [4]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

In [5]:
#QUESTION 8
import sqlite3

# connect to database
conn = sqlite3.connect('weather.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE climate
            (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
             )''')

# insert data into table 
weather_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO climate VALUES (?, ?, ?, ?, ?)', weather_data)

# commit changes and close connection
conn.commit()
conn.close()

In [6]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather.db')

# create cursor object
c = conn.cursor()

In [7]:
#A
c.execute('SELECT Temperature FROM climate')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [8]:
#B
c.execute('SELECT DISTINCT City FROM climate')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

In [9]:
#C
c.execute("SELECT * FROM climate WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [10]:
#D
c.execute("SELECT * FROM climate WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [11]:
#E
c.execute("SELECT City, Country, Season FROM climate WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

In [12]:
#F
c.execute("SELECT City, Country FROM climate WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [13]:
#G
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM climate WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

In [14]:
#H
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM climate GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [24]:
#QUESTION 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [25]:
#A
new_words = [word.upper() for word in words]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [26]:
#B
new_words = [word.lower() for word in words]
print(new_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
#C
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [28]:
#D
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [29]:
#E
new_words = [word for word in words if len(word) >= 4]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']